doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",)
        met(name="viewport", content="width=device-width, height=device-height")
        title Takanshi Rikka 
    body
        h1 It works!
        script(src="/public/js/app.js")